<form class="form-inline" action="index.html" method="post">
    <h6>Already a Member?</h6>
    <h3>LOG IN</h3>
    <input type="text" class="form-control" name="email" value="" placeholder="Your Email">
    <input type="text" class="form-control" name="password" value="" placeholder="Your Password">
    <button type="submit" class="btn btn-primary" name="button">LOG IN</button>
    <h6>New to PA(R)TIO? </h6>
    <button type="button" class="btn btn-primary" name="button">REGISTER HERE</button>
</form>
