<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PA(R)TIO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <h1>PA(R)TIO</h1>
      <h3>We find the patios / You bring the party</h3>
    </header>


    <%= yield %>


    <footer>&copy; Scott Wiley 2016</footer>
  </body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</html>
